{% extends 'base.html' %}
{% block content %}
<style>
    #name {
        margin-top: 2rem;
        text-align: center;
        background-color: #f5fdff;
        border: 2px solid #6b6b6b;
        border-radius: 5px;
        height: 50px;
        width: 20rem;
        color: #353434;
        font-size: 20px;
    }
</style>
<form method='POST'>
    <h1 style="text-align: center; font-size:3rem; font-family: 'Open Sans'serif; margin-top: 2rem;">Summerizer Outliner</h1>
    <div style="text-align: center;">
        <input type="text" id="name" name="name" placeholder="ENTER Essay Topic">
    </div>
    <div style="text-align: center;"> <button type="submit" class="submit"
            style="     background: #5D5FEF; border:none ;color:#ffffff;font-size:1.5rem; padding: 5px 25px;font-family: 'Open Sans'serif; margin-top: 2rem; ">Submit</button>
    </div>
</form>
<div class="output">
    <h1 style="text-align: center; font-size: 2.5rem; margin-top: 3rem; margin-bottom: 2rem;">Response</h1>
    <div
        style="background-color: rgb(152, 237, 252);font-family:  'Maven Pro', sans-serif; font-size: 1.5rem; padding: 1rem; width: 90%; height: 500px;">
    </div>
    {{data}}
</div>
</div>

{% endblock %}