{% extends 'base.html' %}
{% block content %}
<style>
</style>
<div style="margin-top: 2rem; font-size: 3rem; font-family: 'Open Sans' serif; text-align: center;">Tools</div>
<div class="row">
    <div class="col-sm-6">
      <div class="card" style="margin-top: 4rem;">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="font-size: 2rem; font-family:'Maven Pro', sans-serif;">Study <i>Notes</i> Creator</h5>
          <a href="/notesbuddy" class="btn btn-primary" style="padding: 7px 40px; font-size: 1.5rem; text-align: center; background-color: #5D5FEF
          ;margin-top: 2rem ; margin-bottom: 2rem;">Use it</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="margin-top: 4rem;">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="font-size: 2rem; font-family:'Maven Pro', sans-serif;">Share your Stories </h5>
          <a href="/home" class="btn btn-primary" style="padding: 7px 40px; font-size: 1.5rem; text-align: center; background-color: #5D5FEF
          ;margin-top: 2rem ; margin-bottom: 2rem;">Get There</a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="margin-top: 4rem;">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="font-size: 2rem; font-family:'Maven Pro', sans-serif;">Interview Questions Creator</h5>
          <a href="/interview" class="btn btn-primary" style="padding: 7px 40px; font-size: 1.5rem; text-align: center; background-color: #5D5FEF
          ;margin-top: 2rem ; margin-bottom: 2rem;">Use it</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="margin-top: 4rem;">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="font-size: 2rem; font-family:'Maven Pro', sans-serif;"> KeyPoints Extractor </h5>
          <a href="/keywords" class="btn btn-primary" style="padding: 7px 40px; font-size: 1.5rem; text-align: center; background-color: #5D5FEF
          ;margin-top: 2rem ; margin-bottom: 2rem;">Get There</a>
        </div>
      </div>
    </div>
  </div>

<div class="row">
    <div class="col-sm-6">
      <div class="card" style="margin-top: 4rem;">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="font-size: 2rem; font-family:'Maven Pro', sans-serif;">Essay Outline Creator</h5>
          <a href="/essay" class="btn btn-primary" style="padding: 7px 40px; font-size: 1.5rem; text-align: center; background-color: #5D5FEF
          ;margin-top: 2rem ; margin-bottom: 2rem;">Use it</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="margin-top: 4rem;">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="font-size: 2rem; font-family:'Maven Pro', sans-serif;">Text Summerizer</h5>
          <a href="/summery" class="btn btn-primary" style="padding: 7px 40px; font-size: 1.5rem; text-align: center; background-color: #5D5FEF
          ; margin-top: 2rem ; margin-bottom: 2rem;">Use It</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="margin-top: 4rem; margin-bottom: 2rem;">
        <div class="card-body" style="text-align: center;">
          <h5 class="card-title" style="font-size: 2rem; font-family:'Maven Pro', sans-serif;">Grammer Corrector</h5>
          <a href="/grammer" class="btn btn-primary" style="padding: 7px 40px; font-size: 1.5rem; text-align: center; background-color: #5D5FEF
          ; margin-top: 2rem ; margin-bottom: 2rem;">Use it</a>
        </div>
      </div>
    </div>
{% endblock %}